.downloads {
    width: 80%;
    gap: 2em;
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    justify-items: center;
}

.qr-img {
    margin: 2em 0;
    width: 150px;
    height: 150px;
}

@media (max-width: 660px) {
    .qr-img {
        margin: auto;
        width: 100%;
        height: auto;
    }
}