
.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    min-height: 70vh;
    width: 95%;
    margin: 6em auto;
}

.hero__left {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__right {
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__img {
    margin: auto;
    width: auto;
    height: 70vh;
    animation: levitate 4s infinite linear;
}

@keyframes levitate {
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0%);
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 80%;
}

.hero__title {
    font-size: 2.9rem;
}

.hero__paragraph {
    font-size: 1.4rem;
}

@media (max-width: 880px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero__left {
        padding: 1em;
    }
}

@media (max-width: 480px) {
    .hero {
        margin-top: 10em;
    }

    .hero__img {
        width: auto;
        height: 40vh;
    }

    .hero__title {
        font-size: 1.8rem;
        text-align: center;
        width: 100%;
    }
    
    .hero__paragraph {
        font-size: 1.2rem;
    }
    
}

.about, .download {
    width: 80%;
    gap: 2em;
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    justify-items: center;
}

.content {
    line-height: 1.5;
    margin-top: 15%;
    text-align: justify;
    width: 50%;
    height: min-content;
}

.content__title {
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}

.content__paragraph {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
}

.about__img {
    width: 300px;
    height: auto;
    animation: degr 5s infinite linear;
}

.hr {
    display: none;
}

.qr-img {
    margin: 2em 0;
    width: 150px;
    height: 150px;
}

@keyframes degr {
    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 660px) {
    .about, .download {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .content {
        width: 80%;
    }

    .hr {
        display: block;
        margin: 5em auto;
        width: 80%;
        color: #bdbdbd6b;
    }
}


@media (max-width: 480px) {
    .about__img {
        width: 150px;
        height: auto;
        animation: degr 2s infinite linear;
    }
}


/* Features */

.features {
    width: 100%;
    margin-bottom: 2em;
    background-color: #FFF;
    padding: 2EM;
}

.features__title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--c2);
    text-align: center;
    margin-bottom: 2em;
}

.features-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.feature__img {
    width: 270px;
    height: auto;
}

.feature__name {
    color: var(--c2);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.feature__description {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
    text-align: center;
}

