.content {
    line-height: 1.5;
    margin-top: 15%;
    text-align: justify;
    width: 50%;
    height: min-content;
}

.content__title {
    text-align: left;
    font-weight: 600;
    font-size: 2rem;
}

.content__paragraph {
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
}

.hr {
    display: none;
}

@keyframes degr {
    50% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 660px) {
    .about, .downloads {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .content {
        width: 80%;
    }

    .hr {
        display: block;
        margin: 5em auto;
        width: 80%;
        color: #bdbdbd6b;
    }
}

.about__img {
    width: 300px;
    height: auto;
    animation: degr 5s infinite linear;
}